<div class="container">
  <div class="row "> 
    <%= form_for @user_submission, url: "/apply", method: "post" do |submission| %>
      <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="form-group">
          <%= submission.label :county %>
          <%= submission.select :county, options_for_select(@counties), {prompt: 'What county do you live in?' },  {required: 'true', autofocus: 'true', class: 'form-control'} %>
        </div>
        <div class="form-group">
          <%= submission.label :email_address %>
          <%= submission.text_field :email_address, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= submission.label :phone_number %>
          <%= submission.text_field :phone_number, class: "form-control" %>
        </div>
        <%= submission.submit "Start application", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <% if @user_submission.errors.any? %>
      <div id="error_explanation">
        <h2>Oops!</h2>
        <ul>
        <% @user_submission.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

