<nav class="navbar navbar-default" style="margin-bottom:0; background-color:#233445; color: white;">
  <div class="container-fluid">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h2>Get Extra Money for Groceries Every Month</h2>
        <p>Apply for CalFresh<br>(California's food stamp program)</p>
        <br>
    </div>
  </div>
</nav>
<div class="container-fluid">
    <%= form_for @user_submission, url: "/apply", method: "post" do |submission| %>
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <% if @user_submission.errors.any? %>
          <div class="alert alert-danger" role="alert" style="margin-top: 1em;">
            <div id="error_explanation">
             <b>Oops!</b>
              <ul>
              <% @user_submission.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          </div>
      <% end %>
      <br>
      <p>We’re a non-profit working to make it easier to apply for CalFresh online. To start applying, fill out the info below.</p>
      <h3>County</h3>
      <div class="form-group">
        <%= submission.select :county, options_for_select(@counties), {prompt: 'What county do you live in?' },  {required: 'true', autofocus: 'true', class: 'form-control'} %>
      </div>
      <h3>Contact information</h3>
      <p>We will <b>only</b> use this to ask you if you had any problems applying.</p>
      <div class="form-group" id="radio-buttons-form-group">
        <%= radio_button_tag(:contact_preference, "Email") %>
        <%= label_tag(:contact_preference_email, "Email", { id: "email-label" }) %>
        <%= radio_button_tag(:contact_preference, "Text Message") %>
        <%= label_tag(:contact_preference_text_message, "Text Message", { id: "text-message-label" }) %>
      </div>
      <div class="form-group" id="phone-number-form-group" style="display: none;">
        <%= submission.label :phone_number, "Phone number (we will text you)" %>
        <%= submission.text_field :phone_number, class: "form-control" %>
      </div>
      <div class="form-group" id="email-form-group" style="display: none;">
        <%= submission.label :email_address, "Email Address" %>
        <%= submission.text_field :email_address, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= submission.submit "Start application", class: "btn btn-primary" %>
      </div>
      <div class="form-group">
        <p style="font-size: 80%; font-style: italic;">A free, non-profit service for California residents by <a href="https://www.codeforamerica.org">Code for America</a>.</p>
      </div>
    </div>
    <% end %>
  </div>
  <br>
</div>

<script>
  function showEmailField() {
    $("#email-form-group").show();
    $("#phone-number-form-group").hide();
  };

  function showTextField() {
    $("#phone-number-form-group").show();
    $("#email-form-group").hide();
  }

  $("#contact_preference_Email").change(function(e) {
    showEmailField();
  });

  $("#contact_preference_Text_Message").change(function(e) {
    showTextField();
  });

  $("#email-label").click(function(e) {
    $("#contact_preference_Email")[0].checked = true;
    showEmailField();
  });

  $("#text-message-label").click(function(e) {
    $("#contact_preference_Text_Message")[0].checked = true;
    showTextField();
  });
</script>
